footer {
  width: 100%;
  //   padding: 2rem 0;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @include breakpoint("desktop") {
      grid-template-columns: repeat(4, 1fr);
    }

    img {
      width: 100%;
    }
  }

  .bottom__footer {
    background-color: $dark-moderate-cyan;
    padding: 4rem 0;

    .footer__logo {
      background-color: #2c7566;
      height: 2rem;
      width: 10rem;
      margin: 0 auto;
      margin-bottom: 2rem;
      -webkit-mask: url(/src/images/logo.svg) no-repeat center;
      mask: url(/src/images/logo.svg) no-repeat center;
      cursor: pointer;

      &:hover {
        background-color: $white;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 2rem;
      color: $footer-svg;
      margin-bottom: 3rem;

      li a {
        // font-size: ;
        color: $footer-svg;

        &:hover {
          color: $white;
        }
      }
    }

    .socials {
      display: flex;
      margin: auto;
      justify-content: center;
      gap: 2rem;

      .social {
        height: 32px;
        width: 32px;
        background-color: $footer-svg;
        cursor: pointer;

        &:hover {
          background-color: $white;
        }

        &__1 {
          -webkit-mask: url(/src/images/icon-twitter.svg) no-repeat center;
          mask: url(/src/images/icon-twitter.svg) no-repeat center;
        }

        &__2 {
          -webkit-mask: url(/src/images/icon-facebook.svg) no-repeat center;
          mask: url(/src/images/icon-facebook.svg) no-repeat center;
        }
        &__3 {
          -webkit-mask: url(/src/images/icon-instagram.svg) no-repeat center;
          mask: url(/src/images/icon-instagram.svg) no-repeat center;
        }
        &__4 {
          -webkit-mask: url(/src/images/icon-pinterest.svg) no-repeat center;
          mask: url(/src/images/icon-pinterest.svg) no-repeat center;
        }
      }

      // img {
      //   cursor: pointer;
      //   &:hover {
      //     color: $white;
      //   }
      // }
    }
  }
}
