header {
  position: relative;
  padding: 0 30px;
  height: 33.5rem;
  background-image: url(/src/images/mobile/image-header.jpg);
  background-position: bottom;
  background-size: cover;

  @include breakpoint("desktop") {
    background-image: url(/src/images/desktop/image-header.jpg);
    height: 50rem;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;

    .logo {
      cursor: pointer;
      @include breakpoint("desktop") {
        height: 2rem;
      }
    }

    .ham__icon {
      cursor: pointer;
      @include breakpoint("desktop") {
        display: none;
      }
    }
  }

  .desktop__links {
    display: none;

    @include breakpoint("desktop") {
      display: flex;
      align-items: center;
      gap: 4rem;
    }

    > li {
      cursor: pointer;

      &:last-child {
        background-color: $white;
        height: 3rem;
        display: grid;
        place-items: center;
        width: 8rem;
        border-radius: 3rem;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          a {
            color: $white;
          }
        }

        a {
          font-family: "Fraunces", serif;
          color: $very-dark-desaturated-blue;
        }
      }
    }
  }

  .mobile__links {
    position: absolute;
    top: 140px;
    right: 0;
    left: 0;
    width: 84%;
    // height: 20rem;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 99;
    border-radius: 4px;

    @include breakpoint("desktop") {
      display: none;
    }

    .back {
      position: absolute;
      width: auto;
      top: -4rem;
      background: white;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: grid;
      place-items: center;
      cursor: pointer;

      svg {
        width: 2.5rem;
        rotate: 45deg;
        color: $very-dark-desaturated-blue;
      }
    }
  }

  .mobile__links ul {
    padding: 1.5rem 0;
    width: 100%;

    > li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      margin-bottom: 20px;
      font-size: 1.5rem;

      &:last-child {
        background-color: $yellow;
        height: 4rem;
        width: 40%;
        margin: auto;
        margin-top: 30px;
        border-radius: 33px;

        > a {
          font-size: 1.25rem;
          font-family: "Fraunces", serif;
          color: $very-dark-desaturated-blue;
          text-transform: uppercase;
        }
      }

      > a {
        color: $dark-grayish-blue;
        text-align: center;
      }
    }
  }

  .title {
    margin-top: 3.5rem;
    text-align: center;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: $white;
    letter-spacing: 3px;

    @include breakpoint("desktop") {
      font-size: 2rem;
      letter-spacing: 10px;
    }
  }

  .arrow__container {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: upDown ease-in infinite;

    .arrow__down {
      height: 7rem;

      &__animate {
        animation: 2s cubic-bezier(0.39, 0.58, 0.57, 1) infinite pulse;
      }
    }
  }
}

//----------ANIMATIONS----------
@keyframes pulse {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-20px);
  }
}
