.testm {
  padding: 2rem 1rem;

  @include breakpoint("desktop") {
    padding: 6rem;
  }

  h1 {
    text-align: center;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 4px;
    color: $grayish-blue;

    @include breakpoint("desktop") {
      font-size: 1.5rem;
    }
  }

  .testimonials {
    @include breakpoint("desktop") {
      display: flex;
    }
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    gap: 1.5rem;

    img {
      border-radius: 50%;
      width: 6rem;
    }

    p {
      text-align: center;
      line-height: 1.6;
      color: $dark-grayish-blue;
      padding: 0 1rem;
    }

    h3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Fraunces", serif;
      color: $very-dark-desaturated-blue;
      gap: 0.8rem;
      font-weight: 900;

      span {
        font-size: 1rem;
        color: $grayish-blue;
        font-family: "Barlow", serif;
      }
    }
  }
}
